#popupWrap
{
	.popupCont
	{
		width:600px;
		position:fixed;
		top:0px;
		left: calc( (100% - 266px) / 2 );
		margin-left: -34px;
		background:#fff;
		border:1px solid $bordersColor;
		box-shadow: 0 0 7px rgba(183,183,183,0.5);
		border-radius:3px;
		opacity: 0;
		visibility: hidden;
		z-index: 11;
		-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
			 -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		&.show
		{
			top:15px;
			opacity: 1;
			visibility: visible;
		}
		.popupTopLine
		{
			height: 41px;
			border-bottom:1px solid #EAECF1;
			line-height: 41px;
			padding:0 20px;
			color: $blackColor;
			font-weight: bold;
			font-size: 12px;
			span.icon
			{
				float: right;
				cursor: pointer;
			}
		}
		.popupBottomLine
		{
			height: 50px;
			line-height: 50px;
			text-align:center;
			border-top:1px solid #EAECF1;
			button
			{
				margin:0 10px;
			}
		}
		.popupContLine
		{
			overflow: auto;
			max-height: 400px;
			.tabsLine
			{
				padding:17px 0;
				overflow: hidden;
			    background:#F7F8FA;
			    position:absolute;
			    width:100%;
				.tab
				{
				    float:left;
				    font-size:12px;
				    padding:5px 22px;
				    background:#F1F2F4;
				    border-radius:2px;
				    margin-left:20px;
				    font-weight:bold;
				    line-height:15px;
				    color:#B1B1B5;
				    cursor:pointer;
					&:hover, &.active
					{
					    background:#E6E8EE;
					    color:#8D8D96;
					}
				}
			}
			.tabsCont .tabCont
			{
				display:none;
				margin-top:59px;
				&.active{ display: block; }
			}
			.editLine
			{
				&:nth-child(2n)
				{
					background:$backgroundColor;
				}
				padding:17px 20px;
				overflow: hidden;
				.name
				{
					float: left;
					width:280px;
					font-weight: bold;
					font-size: 12px;
					color: $greyColor;
				}
				.inp
				{
					float: left;
					width:280px;
					input[type="text"],select[multiple]
					{
						border:1px solid $bordersColor;
						font-size: 12px;
						color: $greyColor;
						padding:6px 11px;
						border-radius:2px;
						width: 240px;
					}
					.checkLab
					{
						font-size: 12px;
						color: $greyColor;
						font-weight: bold;
						cursor: pointer;
						input
						{
							position:relative;
							top:-1px;
						}
					}
					/* поля для дополнительных копий картинок */
					&.imageSize
					{
						width:auto;
						input
						{
						    text-align:center;
						    &.imsName
						    {
							    width:100px;
							    margin-right:70px;
							    float:left;
							}
							&.imsFix
							{
							    float:left;
							    margin-right:70px;
							    position:relative;
							    top:5px;
							}
							&.imsWidth, &.imsHeight{
							    margin-right:20px;
							    width:80px;
							    float:left;
							}
						}
						span.icon
						{
							position:relative;
							top:4px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}