.DS_Store
.git
/api/app/cache/

/vue/public/upload/
!/vue/public/upload/.gitkeep
/vue/public/tmp/
/public/tmp/
/public/upload/
!/vue/public/tmp/.gitkeep
!/public/tmp/.gitkeep
!/public/upload/.gitkeep
!/public/upload/.gitkeep
!/public/tmp/.gitkeep
!/public/.gitkeep
/public

app/logs/
!app/logs/.gitkeep
config.php
.phalcon/migration-version
!app/fields/em_*

# PROJECT
.env
sftp-config.json
node_modules
googleSecrets.json
vendor
codeception.yml
deploy.php


/docs/
composer.lock
package-lock.json
*.sublime-project
*.sublime-workspace
