.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# test
vendor
tests
composer.json
composer.lock

/public/upload/
/node_modules/
/app/cache/*
!/app/cache/README.md
/app/extensions/*
!/app/extensions/README.md
.sass-cache/*
.phalcon/
/app/config/config.php