<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^api\/(.*) api/$1 [L]
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
</IfModule>
<IfModule mod_headers.c>
    Header add Access-Control-Allow-Origin "http://localhost:8080"
	Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
	Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
	Header add Access-Control-Allow-Credentials true
</IfModule>