<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^api\/install.php public/install.php [QSA,L]
    RewriteRule ^api\/(.*)$ public/api.php?_url=/$1 [QSA,L]
	RewriteRule ^$ public/dist/    [L]
	RewriteRule (.*) public/dist/$1 [L]
</IfModule>
<IfModule mod_headers.c>
    Header add Access-Control-Allow-Origin "http://localhost:8080"
	Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
	Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
	Header add Access-Control-Allow-Credentials true
</IfModule>