html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  outline: 0px; }

body, html {
  background: #F7F8FA;
  position: relative;
  height: 100%;
  font-family: Arial; }

#enterForm {
  width: 393px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -196px;
  background: #531F5D;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  #enterForm p.error {
    margin-bottom: 20px;
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }
  #enterForm .logoLine {
    height: 53px;
    border-bottom: 1px solid #451A4D;
    margin-bottom: 21px; }
    #enterForm .logoLine .logo {
      display: block;
      background: url("../img/entform/element.png") no-repeat;
      background-size: 100%;
      height: 29px;
      width: 149px;
      margin: 0 auto;
      position: relative;
      top: 10px; }
  #enterForm label {
    display: block;
    margin-bottom: 17px;
    overflow: hidden; }
    #enterForm label input[type="text"], #enterForm label input[type="password"] {
      width: 354px;
      height: 35px;
      line-height: 35px;
      border: 0px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      display: block;
      margin: 0 auto;
      font-size: 16px;
      color: #000;
      text-align: center;
      outline: 0px; }
    #enterForm label input[type="submit"] {
      width: 123px;
      height: 35px;
      background: #733A7E;
      border: 0px;
      text-align: center;
      -webkit-border-radius: 37px;
              border-radius: 37px;
      line-height: 35px;
      font-size: 16px;
      color: #FFFFFF;
      display: block;
      float: right;
      margin-right: 20px;
      cursor: pointer; }
