@charset "UTF-8";
@import url("../img/css/sprite.css");
/* line 1, ../scss/base/normalize.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, ../scss/base/normalize.scss */
body {
  line-height: 1;
}

/* line 24, ../scss/base/normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/normalize.scss */
nav ul {
  list-style: none;
}

/* line 31, ../scss/base/normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../scss/base/normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../scss/base/normalize.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 48, ../scss/base/normalize.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 55, ../scss/base/normalize.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 62, ../scss/base/normalize.scss */
del {
  text-decoration: line-through;
}

/* line 66, ../scss/base/normalize.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 71, ../scss/base/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 77, ../scss/base/normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 86, ../scss/base/normalize.scss */
input, select {
  vertical-align: middle;
}

/* line 89, ../scss/base/normalize.scss */
* {
  outline: 0px;
}

/* line 1, ../scss/components/buttons.scss */
.elbutton {
  font-size: 12px;
  border: 1px solid #8D8D96;
  color: #8D8D96;
  font-size: 12px;
  padding: 9px 14px;
  background: none;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
}
/* line 12, ../scss/components/buttons.scss */
.elbutton.blue {
  border: 1px solid #2276A8;
  color: #2276A8;
}
/* line 18, ../scss/components/buttons.scss */
.elbutton.dotts {
  padding: 0px;
  border: 0px;
}

/* line 1, ../scss/components/general.scss */
.centered {
  text-align: center !important;
}

/* line 5, ../scss/components/general.scss */
.righted {
  text-align: right !important;
}

/* line 9, ../scss/components/general.scss */
.clear {
  width: 100%;
  clear: both;
}

/* line 14, ../scss/components/general.scss */
.rounded {
  border-radius: 100%;
}

/* line 18, ../scss/components/general.scss */
.pointer {
  cursor: pointer;
}

/* line 1, ../scss/components/alerts.scss */
.alert {
  position: fixed;
  z-index: 12;
  top: 0px;
  left: calc( (100% - 266px) / 2 );
  padding: 12px 16px;
  width: 300px;
  background: #36A17A;
  color: #fff;
  text-align: center;
  margin-left: 116px;
  z-index: 15;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */
}
/* line 23, ../scss/components/alerts.scss */
.alert.show {
  top: 18px;
  opacity: 1;
  visibility: visible;
}
/* line 29, ../scss/components/alerts.scss */
.alert span.icon {
  position: absolute;
  float: right;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
/* line 37, ../scss/components/alerts.scss */
.alert.error {
  background: #A14936;
}

/* line 3, ../scss/components/popups.scss */
#popupWrap .popupCont {
  width: 600px;
  position: fixed;
  top: 0px;
  left: calc( (100% - 266px) / 2 );
  margin-left: -34px;
  background: #fff;
  border: 1px solid #D3D3DB;
  box-shadow: 0 0 7px rgba(183, 183, 183, 0.5);
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 21, ../scss/components/popups.scss */
#popupWrap .popupCont.show {
  top: 15px;
  opacity: 1;
  visibility: visible;
}
/* line 27, ../scss/components/popups.scss */
#popupWrap .popupCont .popupTopLine {
  height: 41px;
  border-bottom: 1px solid #EAECF1;
  line-height: 41px;
  padding: 0 20px;
  color: #3D3F3E;
  font-weight: bold;
  font-size: 12px;
}
/* line 36, ../scss/components/popups.scss */
#popupWrap .popupCont .popupTopLine span.icon {
  float: right;
  cursor: pointer;
}
/* line 42, ../scss/components/popups.scss */
#popupWrap .popupCont .popupBottomLine {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #EAECF1;
}
/* line 48, ../scss/components/popups.scss */
#popupWrap .popupCont .popupBottomLine button {
  margin: 0 10px;
}
/* line 53, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine {
  overflow: auto;
  max-height: 400px;
}
/* line 1, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table {
  background: #fff;
  border-collapse: separate;
  border: 1px solid #D3D3DB;
  width: 100%;
  margin-bottom: 20px;
}
/* line 8, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table.settings {
  margin-bottom: 0px;
}
/* line 12, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th {
  background: #F0F2F5;
  padding: 11px 28px 11px 10px;
  position: relative;
  border-right: 1px solid #D3D3DB;
  font-size: 12px;
  font-weight: bold;
  color: #8D8D96;
  line-height: 14px;
  text-align: left;
}
/* line 23, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th:last-child {
  border-right: none;
}
/* line 24, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th.tableName {
  color: #3D3F3E;
  position: relative;
}
/* line 28, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th.tableName span.icon {
  position: relative;
  margin-left: 9px;
  top: -1px;
  cursor: pointer;
}
/* line 35, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th.tableName input {
  position: absolute;
  border: 1px solid #D3D3DB;
  font-size: 12px;
  color: #8D8D96;
  padding: 6px 11px;
  border-radius: 2px;
  top: 4px;
  left: 10px;
  z-index: 2;
  width: 400px;
  display: none;
}
/* line 48, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th.tableName input.show {
  display: block;
}
/* line 54, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th .icon.tablearrow {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -7px;
}
/* line 63, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th .icon.tablearrow.asc {
  transform: rotate(180deg);
}
/* line 67, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table th.righted label {
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
}
/* line 74, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:hover {
  background: #F5F9FF;
}
/* line 77, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:hover td {
  border-color: #AACBFD;
}
/* line 81, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:hover + tr td {
  border-top: 1px solid #AACBFD;
}
/* line 85, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td {
  padding: 11px 10px;
  border-top: 1px solid #D3D3DB;
  border-right: 1px solid #D3D3DB;
  vertical-align: middle;
  font-size: 12px;
  color: #8D8D96;
  font-weight: bold;
  max-width: 300px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  /* тип поля - выделение цветом */
}
/* line 100, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td span.value {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 107, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td:first-child {
  overflow: visible;
}
/* line 110, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td:last-child {
  border-right: 0px;
}
/* line 114, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td img {
  height: 20px;
  max-width: 50px;
  line-height: 0px;
  float: left;
  margin-right: 3px;
}
/* line 121, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td img :last-child {
  margin-right: 0px;
}
/* line 126, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td:hover .editLine {
  display: block;
}
/* line 130, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td .editLine {
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  font-size: 8px;
  font-weight: bold;
  line-height: 100%;
  z-index: 1;
  display: none;
}
/* line 143, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td .editLine a {
  color: #2276A8;
  margin-right: 10px;
  position: relative;
  top: calc(50% - 5px);
}
/* line 149, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td .editLine a:hover {
  text-decoration: none;
}
/* line 155, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td input[type="checkbox"] {
  cursor: pointer;
}
/* line 160, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td .colorTag {
  background: #deebfe;
  display: inline-block;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 3px;
  color: #383838;
  margin-top: -7px;
  margin-bottom: -7px;
}
/* line 171, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table td .collection {
  background: #EFEFEF;
  display: inline-block;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 3px;
  color: #383838;
  margin-top: -7px;
  margin-bottom: -7px;
}
/* line 185, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:last-child td {
  border-bottom: 0px;
}
/* line 188, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
/* line 194, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
/* line 198, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
/* line 202, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
/* line 206, ../scss/components/contentTable.scss */
#popupWrap .popupCont .popupContLine table tr.black td {
  color: #3D3F3E;
}
/* line 58, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .tabsLine {
  padding: 17px 0;
  overflow: hidden;
  background: #F7F8FA;
  position: absolute;
  width: 100%;
}
/* line 65, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .tabsLine .tab {
  float: left;
  font-size: 12px;
  padding: 5px 22px;
  background: #F1F2F4;
  border-radius: 2px;
  margin-left: 20px;
  font-weight: bold;
  line-height: 15px;
  color: #B1B1B5;
  cursor: pointer;
}
/* line 77, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .tabsLine .tab:hover, #popupWrap .popupCont .popupContLine .tabsLine .tab.active {
  background: #E6E8EE;
  color: #8D8D96;
}
/* line 84, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .tabsCont .tabCont {
  display: none;
  margin-top: 59px;
}
/* line 88, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .tabsCont .tabCont.active {
  display: block;
}
/* line 90, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine {
  padding: 17px 20px;
  overflow: hidden;
}
/* line 92, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine:nth-child(2n) {
  background: #F7F8FA;
}
/* line 98, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .name {
  float: left;
  width: 280px;
  font-weight: bold;
  font-size: 12px;
  color: #8D8D96;
}
/* line 106, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp {
  float: left;
  width: 280px;
  /* поля для дополнительных копий картинок */
}
/* line 110, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp input[type="text"], #popupWrap .popupCont .popupContLine .editLine .inp select[multiple] {
  border: 1px solid #D3D3DB;
  font-size: 12px;
  color: #8D8D96;
  padding: 6px 11px;
  border-radius: 2px;
  width: 240px;
}
/* line 119, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .checkLab {
  font-size: 12px;
  color: #8D8D96;
  font-weight: bold;
  cursor: pointer;
}
/* line 125, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .checkLab input {
  position: relative;
  top: -1px;
}
/* line 131, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .autocomleatebox {
  position: absolute;
  width: 262px;
  background: #fff;
  border: 1px solid #D3D3DB;
  border-radius: 0px 0px 2px 2px;
  margin-top: -1px;
}
/* line 139, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .autocomleatebox .autocomplLine {
  padding: 5px 12px;
  font-size: 10px;
  color: #8D8D96;
}
/* line 144, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .autocomleatebox .autocomplLine.selected {
  background: #F7F8FA;
}
/* line 145, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .autocomleatebox .autocomplLine .elid {
  color: #36A17A;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
/* line 151, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp .autocomleatebox .autocomplLine .elid i {
  font-size: 10px;
  font-style: normal;
}
/* line 160, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize {
  width: auto;
}
/* line 163, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize input {
  text-align: center;
}
/* line 166, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize input.imsName {
  width: 100px;
  margin-right: 70px;
  float: left;
}
/* line 172, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize input.imsFix {
  float: left;
  margin-right: 70px;
  position: relative;
  top: 5px;
}
/* line 179, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize input.imsWidth, #popupWrap .popupCont .popupContLine .editLine .inp.imageSize input.imsHeight {
  margin-right: 20px;
  width: 80px;
  float: left;
}
/* line 185, ../scss/components/popups.scss */
#popupWrap .popupCont .popupContLine .editLine .inp.imageSize span.icon {
  position: relative;
  top: 4px;
  cursor: pointer;
}

/* line 1, ../scss/layout/sidebar.scss */
aside#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 266px;
  background: #531F5D;
  height: 100%;
  overflow: auto;
}
/* line 11, ../scss/layout/sidebar.scss */
aside#sidebar #logo {
  border-bottom: 1px solid #451A4D;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 266px;
  top: 0px;
  left: 0px;
  background: #531F5D;
  z-index: 100;
}
/* line 22, ../scss/layout/sidebar.scss */
aside#sidebar #logo .foldLogo {
  display: none;
}
/* line 24, ../scss/layout/sidebar.scss */
aside#sidebar nav {
  padding-top: 42px;
  min-width: 266px;
}
/* line 28, ../scss/layout/sidebar.scss */
aside#sidebar nav ul {
  margin-top: 10px;
}
/* line 31, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li {
  display: block;
  padding: 10px 0;
  padding-left: 11px;
}
/* line 36, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li.act, aside#sidebar nav ul li:hover {
  background: #451a4d;
}
/* line 40, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #E1C4E7;
  font-weight: bold;
}
/* line 46, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li a span {
  position: relative;
  top: -2px;
  margin-right: 14px;
}
/* line 51, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li a span.text {
  white-space: nowrap;
  font-weight: normal;
}
/* line 58, ../scss/layout/sidebar.scss */
aside#sidebar nav ul li.folding .unfold {
  display: none;
}

/* line 1, ../scss/layout/folded.scss */
aside#sidebar, .folded section#contentBlock {
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 7, ../scss/layout/folded.scss */
aside#sidebar nav ul li a span.text {
  position: relative;
  top: 0px;
}

/* line 14, ../scss/layout/folded.scss */
.folded aside#sidebar #logo .foldLogo {
  display: inline-block;
}
/* line 15, ../scss/layout/folded.scss */
.folded aside#sidebar #logo .logoTop {
  display: none;
}

/* line 18, ../scss/layout/folded.scss */
.folded aside#sidebar, .folded aside#sidebar #logo {
  width: 50px;
}

/* line 21, ../scss/layout/folded.scss */
.folded aside#sidebar nav {
  min-width: 50px;
}

/* line 24, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li a span.text {
  display: none;
}

/* line 27, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li {
  padding-left: 18px;
}

/* line 30, ../scss/layout/folded.scss */
.folded section#contentBlock {
  margin-left: 50px;
}

/* line 33, ../scss/layout/folded.scss */
.folded section#contentBlock #contFixed {
  left: 50px;
  width: calc(100% - 50px);
}

/* line 40, ../scss/layout/folded.scss */
.folded aside#sidebar {
  overflow: visible;
  z-index: 100;
}

/* line 44, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li {
  position: relative;
}
/* line 48, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li.folding .unfold {
  display: inline-block;
}
/* line 49, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li.folding .fold {
  display: none;
}

/* line 52, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li a span.text {
  position: absolute;
  background: #fff;
  left: 50px;
  width: auto;
  top: 0px;
  height: 100%;
  line-height: 3em;
  border: 1px solid #D3D3DB;
  color: #3D3F3E;
  padding: 0 15px;
  border-radius: 3px;
  white-space: nowrap;
  display: block;
  visibility: hidden;
}

/* line 68, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li a span.text:after {
  display: block;
  content: '';
  height: 10px;
  width: 10px;
  background: #fff;
  top: 50%;
  left: -6px;
  margin-top: -5px;
  position: absolute;
  border: 1px solid #D3D3DB;
  transform: rotate(45deg);
  border-right: 0px;
  border-top: 0px;
}

/* line 83, ../scss/layout/folded.scss */
.folded aside#sidebar nav ul li:hover a span.text {
  left: 57px;
  visibility: visible;
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 1, ../scss/layout/content.scss */
body, html {
  background: #F7F8FA;
  position: relative;
  height: 100%;
  font-family: Arial;
  width: 100%;
}

/* line 10, ../scss/layout/content.scss */
section#contentBlock {
  margin-left: 266px;
  overflow: auto;
  /* влкадки на странице настроек */
}
/* line 14, ../scss/layout/content.scss */
section#contentBlock #contFixed {
  position: fixed;
  top: 0px;
  left: 266px;
  width: calc(100% - 266px);
  z-index: 10;
}
/* line 1, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine {
  overflow: hidden;
  height: 39px;
  border-bottom: 1px solid #EAECF1;
  line-height: 39px;
  background: #fff;
  padding: 0 20px;
}
/* line 9, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation, section#contentBlock #topNavLine .userbar {
  float: left;
}
/* line 12, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul, section#contentBlock #topNavLine .userbar ul {
  list-style: none;
}
/* line 15, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul li, section#contentBlock #topNavLine .userbar ul li {
  display: inline-block;
  font-size: 12px;
}
/* line 19, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul li a, section#contentBlock #topNavLine .userbar ul li a {
  color: #2276A8;
  text-decoration: none;
  font-weight: bold;
}
/* line 24, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul li a:hover, section#contentBlock #topNavLine .userbar ul li a:hover {
  text-decoration: underline;
}
/* line 26, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul li.last a, section#contentBlock #topNavLine .userbar ul li.last a {
  color: #8D8D96;
}
/* line 30, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .navigation ul li.arr, section#contentBlock #topNavLine .userbar ul li.arr {
  padding: 0 5px;
}
/* line 37, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .userbar {
  float: right;
}
/* line 41, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .userbar li.cirdel {
  padding: 0 5px;
}
/* line 45, ../scss/components/topNavLine.scss */
section#contentBlock #topNavLine .userbar li.logout span {
  position: relative;
  top: -1px;
  margin-left: 2px;
}
/* line 1, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons {
  overflow: hidden;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #D3D3DB;
  padding: 0 20px;
}
/* line 8, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .elbutton {
  margin-top: 13px;
}
/* line 12, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .titleBlock {
  float: left;
}
/* line 15, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .titleBlock .ttl {
  margin-top: 15px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
/* line 21, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .titleBlock .ttl h2 {
  color: #3D3F3E;
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
  margin-bottom: 2px;
}
/* line 29, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .titleBlock .ttl span {
  font-size: 10px;
  display: block;
  color: #8D8D96;
}
/* line 37, ../scss/components/titleButtons.scss */
section#contentBlock #titleButtons .rightButtons {
  float: right;
}
/* line 1, ../scss/components/topTabs.scss */
section#contentBlock #topTabs {
  height: 34px;
  background: #fff;
  border-bottom: 1px solid #D3D3DB;
  padding: 0 20px;
  position: relative;
  top: -1px;
}
/* line 9, ../scss/components/topTabs.scss */
section#contentBlock #topTabs ul {
  list-style: none;
}
/* line 12, ../scss/components/topTabs.scss */
section#contentBlock #topTabs ul li {
  display: block;
  margin-right: 15px;
  background: #fff;
  border: 1px solid #D3D3DB;
  border-radius: 3px 3px 0 0;
  float: left;
  height: 32px;
  padding: 0 58px;
  line-height: 34px;
  font-size: 13px;
  color: #3D3F3E;
  font-weight: bold;
  position: relative;
  bottom: -1px;
  cursor: pointer;
}
/* line 29, ../scss/components/topTabs.scss */
section#contentBlock #topTabs ul li.act {
  border-bottom: 1px solid #F7F8FA;
  background: #F7F8FA;
}
/* line 26, ../scss/layout/content.scss */
section#contentBlock #content {
  margin-top: 100px;
  position: relative;
  /* с вклабками верзнаяя часть увеличивается на 34px */
  /* строка которая идет после таблицы натсроек, для добавления нового своства */
  /* детальная странца элемента */
  /* вкладки второго уровня */
}
/* line 31, ../scss/layout/content.scss */
section#contentBlock #content.withTabs {
  margin-top: 134px;
}
/* line 35, ../scss/layout/content.scss */
section#contentBlock #content .contWrap {
  padding: 20px;
}
/* line 1, ../scss/components/contentTable.scss */
section#contentBlock #content table {
  background: #fff;
  border-collapse: separate;
  border: 1px solid #D3D3DB;
  width: 100%;
  margin-bottom: 20px;
}
/* line 8, ../scss/components/contentTable.scss */
section#contentBlock #content table.settings {
  margin-bottom: 0px;
}
/* line 12, ../scss/components/contentTable.scss */
section#contentBlock #content table th {
  background: #F0F2F5;
  padding: 11px 28px 11px 10px;
  position: relative;
  border-right: 1px solid #D3D3DB;
  font-size: 12px;
  font-weight: bold;
  color: #8D8D96;
  line-height: 14px;
  text-align: left;
}
/* line 23, ../scss/components/contentTable.scss */
section#contentBlock #content table th:last-child {
  border-right: none;
}
/* line 24, ../scss/components/contentTable.scss */
section#contentBlock #content table th.tableName {
  color: #3D3F3E;
  position: relative;
}
/* line 28, ../scss/components/contentTable.scss */
section#contentBlock #content table th.tableName span.icon {
  position: relative;
  margin-left: 9px;
  top: -1px;
  cursor: pointer;
}
/* line 35, ../scss/components/contentTable.scss */
section#contentBlock #content table th.tableName input {
  position: absolute;
  border: 1px solid #D3D3DB;
  font-size: 12px;
  color: #8D8D96;
  padding: 6px 11px;
  border-radius: 2px;
  top: 4px;
  left: 10px;
  z-index: 2;
  width: 400px;
  display: none;
}
/* line 48, ../scss/components/contentTable.scss */
section#contentBlock #content table th.tableName input.show {
  display: block;
}
/* line 54, ../scss/components/contentTable.scss */
section#contentBlock #content table th .icon.tablearrow {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -7px;
}
/* line 63, ../scss/components/contentTable.scss */
section#contentBlock #content table th .icon.tablearrow.asc {
  transform: rotate(180deg);
}
/* line 67, ../scss/components/contentTable.scss */
section#contentBlock #content table th.righted label {
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
}
/* line 74, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:hover {
  background: #F5F9FF;
}
/* line 77, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:hover td {
  border-color: #AACBFD;
}
/* line 81, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:hover + tr td {
  border-top: 1px solid #AACBFD;
}
/* line 85, ../scss/components/contentTable.scss */
section#contentBlock #content table td {
  padding: 11px 10px;
  border-top: 1px solid #D3D3DB;
  border-right: 1px solid #D3D3DB;
  vertical-align: middle;
  font-size: 12px;
  color: #8D8D96;
  font-weight: bold;
  max-width: 300px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  /* тип поля - выделение цветом */
}
/* line 100, ../scss/components/contentTable.scss */
section#contentBlock #content table td span.value {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 107, ../scss/components/contentTable.scss */
section#contentBlock #content table td:first-child {
  overflow: visible;
}
/* line 110, ../scss/components/contentTable.scss */
section#contentBlock #content table td:last-child {
  border-right: 0px;
}
/* line 114, ../scss/components/contentTable.scss */
section#contentBlock #content table td img {
  height: 20px;
  max-width: 50px;
  line-height: 0px;
  float: left;
  margin-right: 3px;
}
/* line 121, ../scss/components/contentTable.scss */
section#contentBlock #content table td img :last-child {
  margin-right: 0px;
}
/* line 126, ../scss/components/contentTable.scss */
section#contentBlock #content table td:hover .editLine {
  display: block;
}
/* line 130, ../scss/components/contentTable.scss */
section#contentBlock #content table td .editLine {
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  font-size: 8px;
  font-weight: bold;
  line-height: 100%;
  z-index: 1;
  display: none;
}
/* line 143, ../scss/components/contentTable.scss */
section#contentBlock #content table td .editLine a {
  color: #2276A8;
  margin-right: 10px;
  position: relative;
  top: calc(50% - 5px);
}
/* line 149, ../scss/components/contentTable.scss */
section#contentBlock #content table td .editLine a:hover {
  text-decoration: none;
}
/* line 155, ../scss/components/contentTable.scss */
section#contentBlock #content table td input[type="checkbox"] {
  cursor: pointer;
}
/* line 160, ../scss/components/contentTable.scss */
section#contentBlock #content table td .colorTag {
  background: #deebfe;
  display: inline-block;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 3px;
  color: #383838;
  margin-top: -7px;
  margin-bottom: -7px;
}
/* line 171, ../scss/components/contentTable.scss */
section#contentBlock #content table td .collection {
  background: #EFEFEF;
  display: inline-block;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 3px;
  color: #383838;
  margin-top: -7px;
  margin-bottom: -7px;
}
/* line 185, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:last-child td {
  border-bottom: 0px;
}
/* line 188, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
/* line 194, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
/* line 198, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
/* line 202, ../scss/components/contentTable.scss */
section#contentBlock #content table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
/* line 206, ../scss/components/contentTable.scss */
section#contentBlock #content table tr.black td {
  color: #3D3F3E;
}
/* line 41, ../scss/layout/content.scss */
section#contentBlock #content .addFieldLine {
  text-align: center;
  margin-bottom: 20px;
}
/* line 45, ../scss/layout/content.scss */
section#contentBlock #content .addFieldLine button.addField {
  background: #F0F2F5;
  padding: 9px 123px;
  color: #8D8D96;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0 0 3px 3px;
  border: 0px;
  cursor: pointer;
}
/* line 1, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination {
  background: #fff;
  padding: 11px 10px;
  border: 1px solid #D3D3DB;
  border-radius: 3px;
  float: left;
  margin-bottom: 20px;
}
/* line 9, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination ul {
  list-style: none;
}
/* line 12, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination ul li {
  display: inline-block;
  padding: 0 10px;
}
/* line 16, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #8D8D96;
  font-weight: bold;
}
/* line 22, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination ul li a:hover {
  color: #3D3F3E;
}
/* line 27, ../scss/components/pagination.scss */
section#contentBlock #content nav.pagination ul li.act a {
  color: #3D3F3E;
}
/* line 58, ../scss/layout/content.scss */
section#contentBlock #content .tabCont {
  display: none;
}
/* line 61, ../scss/layout/content.scss */
section#contentBlock #content .tabCont.act {
  display: block;
}
/* line 3, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line {
  padding: 15px 20px;
  min-width: 900px;
  border-bottom: 1px solid #D3D3DB;
  overflow: hidden;
}
/* line 9, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line:nth-child(2n) {
  background: #fff;
}
/* line 13, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line .name {
  float: left;
  width: 190px;
  color: #8D8D96;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}
/* line 22, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line .filedEdit {
  float: left;
  width: 650px;
  /* таблица множествоенно связи */
  position: relative;
  /*  */
}
/* line 1, ../scss/components/fields/inputAndTextarea.scss */
section#contentBlock #content .elementDetail .line .filedEdit input, section#contentBlock #content .elementDetail .line .filedEdit textarea {
  border: 1px solid #D3D3DB;
  font-size: 12px;
  color: #3D3F3E;
  padding: 6px 11px;
  border-radius: 2px;
  width: 400px;
  background: #fff;
}
/* line 10, ../scss/components/fields/inputAndTextarea.scss */
section#contentBlock #content .elementDetail .line .filedEdit input.datepicker, section#contentBlock #content .elementDetail .line .filedEdit input.datetimepicker, section#contentBlock #content .elementDetail .line .filedEdit textarea.datepicker, section#contentBlock #content .elementDetail .line .filedEdit textarea.datetimepicker {
  width: 225px;
}
/* line 15, ../scss/components/fields/inputAndTextarea.scss */
section#contentBlock #content .elementDetail .line .filedEdit textarea {
  width: 600px;
  max-width: 600px;
  height: 190px;
  max-height: 200px;
}
/* line 1, ../scss/components/fields/datepicker.scss */
section#contentBlock #content .elementDetail .line .filedEdit .datepickerIcon {
  position: relative;
  left: -22px;
  top: -2px;
  cursor: pointer;
}
/* line 3, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attach {
  float: left;
  margin-right: 13px;
  position: relative;
}
/* line 8, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attach .atIcon {
  border: 1px solid #D3D3DB;
  line-height: 0px;
  cursor: pointer;
}
/* line 13, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attach .atIcon img {
  max-height: 34px;
}
/* line 18, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attach .delete {
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
  display: none;
}
/* line 26, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attach:hover .delete {
  display: block;
}
/* line 31, ../scss/components/fields/attaches.scss */
section#contentBlock #content .elementDetail .line .filedEdit .attaches .attachAdd {
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  margin-top: 5px;
}
/* line 3, ../scss/components/fields/nodes.scss */
section#contentBlock #content .elementDetail .line .filedEdit .nodes .node {
  float: left;
  margin-right: 13px;
  position: relative;
}
/* line 8, ../scss/components/fields/nodes.scss */
section#contentBlock #content .elementDetail .line .filedEdit .nodes .node:hover .delete {
  display: block;
}
/* line 12, ../scss/components/fields/nodes.scss */
section#contentBlock #content .elementDetail .line .filedEdit .nodes .node .delete {
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
  display: none;
}
/* line 20, ../scss/components/fields/nodes.scss */
section#contentBlock #content .elementDetail .line .filedEdit .nodes .node .noIcon {
  background: #fff;
  color: #36A17A;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 11px;
  display: blockk;
  border: 1px solid #D3D3DB;
  border-radius: 2px;
  cursor: pointer;
}
/* line 33, ../scss/components/fields/nodes.scss */
section#contentBlock #content .elementDetail .line .filedEdit .nodes .attachAdd {
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  margin-top: 5px;
}
/* line 33, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line .filedEdit .fieldEditorBlock {
  width: 90px;
  height: 39px;
  background: 0 0;
  overflow: hidden;
  position: absolute;
  top: 37px;
  left: 54px;
  z-index: 1000;
  border: 1px solid #2276A8;
}
/* line 44, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line .filedEdit .fieldEditorBlock input {
  border: 0px;
  border-radius: 0px;
  height: 100%;
  line-height: 100%;
  padding: 0px;
  padding-left: 10px;
  width: calc(100% - 10px);
}
/* line 55, ../scss/pages/elementDetail.scss */
section#contentBlock #content .elementDetail .line .filedEdit table.elements {
  width: auto;
  min-width: 400px;
}
/* line 1, ../scss/components/tabsLine.scss */
section#contentBlock #content .tabsLine {
  padding: 8px 0px;
  overflow: hidden;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-bottom: 1px solid #D3D3DB;
}
/* line 10, ../scss/components/tabsLine.scss */
section#contentBlock #content .tabsLine .tab {
  float: left;
  font-size: 12px;
  padding: 5px 22px;
  background: #F1F2F4;
  border-radius: 2px;
  margin-left: 20px;
  font-weight: bold;
  line-height: 15px;
  color: #B1B1B5;
  cursor: pointer;
}
/* line 21, ../scss/components/tabsLine.scss */
section#contentBlock #content .tabsLine .tab:hover, section#contentBlock #content .tabsLine .tab.act {
  background: #E6E8EE;
  color: #8D8D96;
}
/* line 28, ../scss/components/tabsLine.scss */
section#contentBlock #content .subTabsCont .subTabCont {
  display: none;
}
/* line 31, ../scss/components/tabsLine.scss */
section#contentBlock #content .subTabsCont .subTabCont.act {
  display: block;
}

/* сообщения об шибках и тд */
