@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic,cyrillic-ext');

*{outline: 0px;}
body{
	font-family: $mainFont;
}
.container
{
	max-width: 1192px;
	min-width: 1192px;
	width: 100%;
	padding: 0 12px;
	margin: 0 auto;
}