*{outline: 0px;}
body{
	font-family: $mainFont;
}
pre
{
	margin: 0;
	white-space: pre-line;
}
.container
{
	max-width: 1192px;
	min-width: 1192px;
	width: 100%;
	padding: 0 12px;
	margin: 0 auto;
}


//GLOBAL STYLES

// BUTTONS
.el-btn
{
	height: 30px;
	font-size: 12px;
	padding: 0 11px;
	line-height: 30px;
	background: rgba(25, 28, 33, 0.7);
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	color:#fff;
	border:0px;
	&:hover,&focus{background: rgba(25, 28, 33, 0.5); }
	&:active{background: rgba(25, 28, 33, 0.3); }
}
// gray
.el-gbtn
{
	background-color: rgba(103, 115, 135, 0.1);
    border-radius: 2px;
    border: none;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #677387;
    cursor: pointer;
	&:hover,&focus{background-color: rgba(103, 115, 135, 0.2);}
	&:active{background: rgba(103, 115, 135, 0.3); }
}
// INPUTS
.el-inp
{
	border: 1px solid rgba(103, 115, 135, 0.1);
	font-size: 10px;
	height: 30px;
	line-height: 30px;
	padding: 0 11px;
	box-sizing: border-box;
	border-radius: 2px;
	&::placeholder {color: rgba(103, 115, 135, 0.4); }
	&:hover {border: 1px solid rgba(103, 115, 135, 0.4); }
	&:focus {border: 1px solid rgba(103, 115, 135, 0.7); }

	&--error
	{
		border: 1px solid rgba(208, 18, 70, 0.4);
		border-radius: 2px;
	}
}
.el-inp-noborder
{
	border: 0px;
	width:100%;
	height: 100%;
	background: none;
	font-size: 12px;
	color: #677387;
	padding: 0;
	&:focus,&:active{color: #191C21;}
	&::placeholder{color: rgba(103, 115, 135, 0.4);}
	&:focus::placeholder{color: transparent;}
}

//empty lines
.el-empty
{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: rgba(103, 115, 135, 0.4);
	cursor: pointer;
}

// message
.element-message
{
	position: fixed;
	bottom: 20px;
	left: 50%;
	z-index: 10;
	border-radius:2px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	height: 42px;
	line-height: 42px;
	padding:0 13px;
	color: #FFFFFF;
	a{color:#fff;}
	a:hover{text-decoration: none;}
}
.element-message-notif {background: rgba(25, 28, 33, 0.7); }
.element-message-error {background: #D01246; }
.element-message-close{
	transform: rotate(45deg);
	stroke:rgba(255,255,255,0.8);
    top: 3px;
    position: relative;
    cursor: pointer;
}
