@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic,cyrillic-ext');

*{outline: 0px;}
body{
	font-family: $mainFont;
}
.container
{
	max-width: 1192px;
	min-width: 1192px;
	width: 100%;
	padding: 0 12px;
	margin: 0 auto;
}


//GLOBAL STYLES

// BUTTONS
.el-btn
{
	height: 30px;
	font-size: 12px;
	padding: 0 11px;
	line-height: 30px;
	background: rgba(25, 28, 33, 0.7);
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	color:#fff;
	border:0px;
	&:hover,&focus{background: rgba(25, 28, 33, 0.5); }
	&:active{background: rgba(25, 28, 33, 0.3); }
}
// gray
.el-gbtn
{
	background-color: rgba(103, 115, 135, 0.1);
    border-radius: 2px;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    color: #677387;
    cursor: pointer;
	&:hover,&focus{background-color: rgba(103, 115, 135, 0.2);}
	&:active{background: rgba(103, 115, 135, 0.3); }
}
// INPUTS
.el-inp
{
	border: 1px solid rgba(103, 115, 135, 0.1);
	font-size: 10px;
	height: 30px;
	line-height: 30px;
	padding: 0 11px;
	box-sizing: border-box;
	border-radius: 2px;
	&::placeholder {color: rgba(103, 115, 135, 0.4); }
	&:hover {border: 1px solid rgba(103, 115, 135, 0.4); }
	&:focus {border: 1px solid rgba(103, 115, 135, 0.7); }

	&--error
	{
		border: 1px solid rgba(208, 18, 70, 0.4);
		border-radius: 2px;
	}
}

.element-message
{
	position: absolute;
	bottom: 20px;
	left: 50%;
}

.element-message-notif
{
	background-color: gray;
}

.element-message-error
{
	background-color: red;
}

.element-message-success
{
	background-color: green;
}
