// fonts
$mainFont: 'Open Sans', sans-serif;

// colors
$dark:#0B3457;
$light:#F6F6F6;
$lighter:#13456F;
$lighter06:rgba(19, 69, 111, 0.6);
$lighter03:rgba(19, 69, 111, 0.3);
$lighter01:rgba(19, 69, 111, 0.1);
$red:#F93F43;
$red07:rgba(249,63,67,0.7);
