// fonts
$mainFont: 'RobotoMono-Regular', sans-serif;
$rMedium: 'RobotoMono-Medium', sans-serif;
$rBItalic: 'RobotoMono-BoldItalic', sans-serif;
$rLItalic: 'RobotoMono-LightItalic', sans-serif;
$rItalic: 'RobotoMono-Italic', sans-serif;
$rMItalic: 'RobotoMono-MediumItalic', sans-serif;
$rTItalic: 'RobotoMono-ThinItalic', sans-serif;
$rThin: 'RobotoMono-Thin', sans-serif;
$rBold: 'RobotoMono-Bold', sans-serif;
$rLight: 'RobotoMono-Light', sans-serif;
