.attaches
{
	.attach
	{
		float: left;
		margin-right: 13px;
		position: relative;
		.atIcon
		{
			border:1px solid $bordersColor;
			line-height: 0px;
			cursor: pointer;
			img
			{
				max-height: 34px;
			}
		}
		.delete
		{
			position:absolute;
			top:-7px;
			left:-7px;
			cursor: pointer;
			display: none;
		}
		&:hover .delete
		{
			display: block;
		}
	}
	.attachAdd
	{
		background: none;
		border:0px;
		cursor: pointer;
		padding:0px;
		margin-top:5px;
	}
}