.nodes
{
	.node
	{
		float: left;
		margin-right:13px;
		position: relative;
		&:hover .delete
		{
			display: block;
		}
		.delete
		{
			position:absolute;
			top:-7px;
			left:-7px;
			cursor: pointer;
			display: none;
		}
		.noIcon
		{
			background:#fff;
			color: $greenColor;
			font-size: 12px;
			font-weight: bold;
			padding:8px 11px;
			display: blockk;
			border:1px solid $bordersColor;
			border-radius:2px;
			cursor: pointer;
		}
		a
		{
			text-decoration: none;
			color: inherit;
		}
	}
	.attachAdd
	{
		background: none;
		border:0px;
		cursor: pointer;
		padding:0px;
		margin-top:5px;
	}
}