.elementDetail
{
	.line
	{
		padding:15px 20px;
		min-width: 900px;
		border-bottom: 1px solid $bordersColor;
		overflow: hidden;
		&:nth-child(2n)
		{
			background:#fff;
		}
		.name
		{
			float: left;
			width:190px;
			color: $greyColor;
			font-size: 12px;
			font-weight: bold;
			line-height: 14px;
		}
		.name .tname
		{
			font-weight:normal;
			display:block;
			font-size:10px;
		}
		.filedEdit
		{
			float: left;
			width:650px;
			@import '../components/fields/inputAndTextarea';
			@import '../components/fields/datepicker';
			@import '../components/fields/attaches';
			@import '../components/fields/nodes';

			/* таблица множествоенно связи */
				position:relative;
				.fieldEditorBlock
				{
			        width: 90px;
				    height: 39px;
				    background: 0 0;
				    overflow: hidden;
				    position: absolute;
				    top: 37px;
				    left: 54px;
				    z-index: 1000;
				    border: 1px solid #2276A8;
					input
					{
					    border:0px;
					    border-radius:0px;
					    height:100%;
					    line-height:100%;
					    padding:0px;
					    padding-left:10px;
					    width:calc(100% - 10px);
					}
				}
				table.elements
				{
					width:auto;
					min-width: 400px;
				}
			/*  */
		}
	}
}