.alert
{
	position:fixed;
	z-index:12;
	top:0px;
	left: calc( (100% - 266px) / 2 );
	padding:12px 16px;
	width: 300px;
	background:$greenColor;
	color: #fff;
	text-align: center;
	margin-left: 116px;
	z-index: 15;
	border-radius:3px;
	font-size:12px;
	line-height: 14px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
		 -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	&.show
	{
		top:18px;
		opacity: 1;
		visibility: visible;
	}
	span.icon
	{
		position:absolute;
		float: right;
		top:12px;
		right: 12px;
		cursor: pointer;
	}
	&.error
	{
		background:$redColor;
	}
}
