#filterLine
{
	padding: 10px 20px;
	font-size: 11px;
	background: #fff;
	border-bottom: 1px solid #D3D3DB;
}
.filterBlock
{
	display: inline-block;
	padding: 7px;
	margin-right: 5px;
	font-size: 12px;
	color: #3D3F3E;
	cursor: pointer;
	font-weight:bold;
	border-radius:2px;
	position:relative;
	&:hover{background:#efefef;}
}
.filterBlock:hover .filterBlock__popup{display:block;}
.filterBlock__popup
{
	display:none;
	position: absolute;
	background: #fff;
	padding: 10px;
	border: 2px solid #dedede;
	border-radius: 2px;
	top: 26px;
	white-space: nowrap;
	left:0px;
}
.filterBlock__popup--dark{
	background:#3D3F3E;
	border:0px;
	color:#fff;
}
.filterBlock__popup ul
{
	list-style:none;
	font-weight:normal;
}
.filterBlock__popup li {padding:5px 0px; }
.filterBlock__sqlInput
{
	padding: 10px;
	width: 200px;
	border: 1px solid #ededed;
}