&.loading .loader{display:block;}
&.loading #content{opacity:0.3;}
.loader
{
	display: none;
	width: 14px;
	height: 14px;
	background: #531f5d; 
	border-radius: 50%;
	position: fixed;
	top: calc(50% - 14px); 
	left: calc(50% - 14px); 
	box-shadow: #531f5d 10px 0, #531f5d 20px 0, #531f5d -10px 0, #531f5d -20px 0;
	animation: anim 1s infinite;
}

@keyframes anim
{
	50%
	{ 
		box-shadow: #531f5d 65px 0, #531f5d 120px 0, #531f5d -65px 0, #531f5d -120px 0; 
		transform: scale(.4) 
	} 
} 