nav.pagination
{
	background:#fff;
	padding:11px 10px;
	border:1px solid $bordersColor;
	border-radius:3px;
	float: left;
	margin-bottom: 20px;
	ul
	{
		list-style:none;
		li
		{
			display: inline-block;
			padding:0 10px;
			a
			{
				font-size:12px;
				text-decoration: none;
				color: $greyColor;
				font-weight: bold;
				&:hover
				{
					color: $blackColor;
				}
			}
			&.act a{ color: $blackColor; }
		}
	}
} 