#topTabs
{
	height: 34px;
	background:#fff;
	border-bottom:1px solid $bordersColor;
	padding:0 20px;
	position:relative;
	top:-1px;
	ul
	{
		list-style: none;
		li
		{
			display: block;
			margin-right: 0.7em;
			background: #fff;
			border:1px solid $bordersColor;
			border-radius:3px 3px 0 0;
			float: left;
			height: 32px;
			padding: 0 1em;
			line-height: 34px;
			font-size:13px;
			color: $blackColor;
			font-weight: bold;
			position:relative;
			bottom:-1px;
			cursor: pointer;
			&.act
			{
				border-bottom:1px solid $backgroundColor;
				background:$backgroundColor;
			}
		}
	}
}