aside#sidebar, .folded section#contentBlock{
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
         -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
aside#sidebar nav ul li a span.text {
    position:relative;
    top:0px;
}
.folded aside#sidebar{
	#logo
	{
		.foldLogo{display:inline-block;}
		.logoTop{display:none;}
	}
}
.folded aside#sidebar, .folded aside#sidebar #logo{
    width:50px;
}
.folded aside#sidebar nav{
	min-width:50px;
}
.folded aside#sidebar nav ul li a span.text{
    display:none;
}
.folded aside#sidebar nav ul li{
    padding-left:18px
}
.folded section#contentBlock{
    margin-left:50px;
}
.folded section#contentBlock #contFixed{
    left:50px;
    width: calc(100% - 50px);
}



.folded aside#sidebar{
    overflow:visible;
    z-index: 100;
}
.folded aside#sidebar nav ul li {
    position:relative;
    &.folding
    {
    	.unfold {display:inline-block; }
    	.fold {display:none; }
    }
}
.folded aside#sidebar nav ul li a span.text{
    position:absolute;
    background:#fff;
    left:50px;
    width:auto;
    top:0px;
    height:100%;
    line-height:3em;
    border:1px solid #D3D3DB;
    color:#3D3F3E;
    padding:0 15px;
    border-radius:3px;
    white-space:nowrap;
    display:block;
    visibility:hidden;
}
.folded aside#sidebar nav ul li a span.text:after{
    display:block;
    content:'';
    height:10px;
    width:10px;
    background:#fff;
    top:50%;
    left:-6px;
    margin-top:-5px;
    position:absolute;
    border:1px solid #D3D3DB;
    transform:rotate(45deg);
    border-right:0px;
    border-top:0px;
}
.folded aside#sidebar nav ul li:hover a span.text{
    left:57px;
    visibility:visible;
    -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
         -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}