aside#sidebar
{
	position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 266px;
    background: #531F5D;
    height: 100%;
    overflow: auto;
	#logo
	{
	    border-bottom: 1px solid #451A4D;
	    text-align: center;
	    padding: 10px 0;
	    position: fixed;
	    width: 266px;
	    top: 0px;
	    left: 0px;
	    background: #531F5D;
	    z-index: 100;
	    .foldLogo{display:none;}
	}
	nav
	{
	    padding-top: 42px;
	    min-width: 266px;
		ul
		{
			margin-top:10px;
			li
			{
				display: block;
				padding: 10px 0;
				padding-left:11px;
				&.act, &:hover
				{
					background:#451a4d;
				}
				a
				{
					font-size: 12px;
					text-decoration: none;
					color: #E1C4E7;
					font-weight: bold;
					span
					{
						position:relative;
						top:-2px;
						margin-right:14px;
						&.text
						{
							white-space:nowrap;
							font-weight: normal;
						}
					}
				}
				&.folding .unfold {display:none; }
			}
		}
	}
}