# AuthType Basic
# AuthName "Private zone. Go away."
# AuthUserFile  /var/www/odvapro/wwwdev/.htpasswd
# Require valid-user
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
</IfModule>